<div
  style="
    background:#000000;
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
    color: #fff;
  "
>
<div class="footer-widget">
    <img src="https://mactosys.com/Nextflat/img/logo.png" class="img-footer" style="max-height: 38px" alt="">
<div class="footer-add">
            <p><i class="fas fa-map-marker-alt"></i> Collins Street West, Victoria 8007, Australia.</p>
                                        <p><i class="fas fa-phone-square"></i> +1 246-345-0695</p>
                                        <p><i class="fas fa-envelope"></i> info@example.com</p>
    </div>

</div>
</div>