<div style="
  background: white;
    padding: 8px 0;
    text-align: center;
    font-family: Arial;
    color: white;
  "
>

  <h3> </h3>
  <div class="nav-header">
    <!-- <a class="nav-brand" href="/"> -->
<!--  <img class="logo" src="https://mactosys.com/Nextflat/img/logo.png" alt="" style="width:15%; margin-top: -53 px;float:left;background: white;margin-left: 1;"> -->
<!-- </a> -->
</div>

  
</div>



<!--     
       background: #53b1ef;
    padding: 30px 0;
    text-align: center;
    font-family: Arial; -->
