<table align="center"
  style="text-align: center; vertical-align: top; width: 596px; max-width: 596px; background-color: #000000;"
  width="600">
  <tbody>
    <tr>
      <td
        style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 30px;"
        width="596">

        <!-- Your inverted logo is here -->
        <img style="width: 180px; max-width: 180px; height: 60px; max-height: 85px; text-align: center; color: #ffffff;"
          alt="Logo"
          src="https://mactosys.com/Nextflat/img/logo.png"
          align="center" width="180" height="60">

        <p
          style="font-size: 13px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">
          Address Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>

        <p
          style="margin-bottom: 0; font-size: 13px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">
          <a target="_blank" style="text-decoration: underline; color: #ffffff;" href="#">
            www.nextflat.com
          </a>
        </p>

      </td>
    </tr>
  </tbody>
</table>