<table align="center"
  style="text-align: center; vertical-align: top; width: 596px; max-width: 596px; background-color: #ffffff;"
  width="600">
  <tbody>
    <tr>
      <td
        style="width: 596px; vertical-align: top; padding-left: 0; padding-right: 0; "
        width="596">

        <img style="width: 170px; max-width: 170px; height: 70px; max-height: 50px; text-align: center; color: #ffffff;"
          alt="Logo"
          src="https://mactosys.com/Nextflat/img/logo.png"
          align="center" width="170" height="50">

      </td>
    </tr>
  </tbody>
</table>

<table align="center"
  style="text-align: center; vertical-align: top; width: 596px; max-width: 596px; height: 150px; background-color: #52B3F0;"
  width="600">
  <tbody>
    <tr>
      <td
        style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px;"
        width="596">
        <p
          style="font-size: 25px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">
          You've got a new buyer response
        </p>
        <p
          style="font-size: 16px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">
          Hey <%= obj.pr_own_name %>, <%= obj.name %> has shown interest in your property in <%= obj.address %>
        </p>


      </td>
    </tr>
  </tbody>
</table>